.select-button-icon {
  .css-1okebmr-indicatorSeparator {
    display: none;
  }

	.css-yk16xz-control {
		background: #e6e6e6;
		border-color: #e6e6e6;
		&:hover{
			border-color: #e6e6e6;
		}
	}

	.css-1pahdxg-control {
		background: #e6e6e6 !important;
		box-shadow: none;
		outline: none !important;
		border-color: #e6e6e6 !important;
	}

}

